apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: temporal
resources:
- deployment.yaml
- service.yaml
- servicemonitor.yaml
commonLabels:
  app.kubernetes.io/component: frontend
