---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ${external_secret_name}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: secret-store
    kind: ClusterSecretStore
  target:
    name: ${kubernetes_secret_name}
    creationPolicy: ${creation_policy:-"Owner"}
  dataFrom:
  - extract:
      key: ${secretmanager_secret_name}
