apiVersion: apps/v1
kind: Deployment
metadata:
  name: epp-encoda-api
  namespace: epp
spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
      - name: epp-encoda-api
        image: ghcr.io/elifesciences/enhanced-preprints-encoda:latest
        resources:
          requests:
            memory: ${encoda_api_memory_requests:='500Mi'}
            cpu: ${encoda_api_cpu_requests:='200m'}
            ephemeral-storage: "50Mi"
          limits:
            memory: ${encoda_api_memory_limits:='1Gi'}
        ports:
          - containerPort: 80
