apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: epp
resources:
- deployment.yaml
- service.yaml
- automations/repository.yaml
- automations/policy.yaml
- automations/approved-policy.yaml
commonLabels:
  app_name: epp
  app_env: ${app_env}
  app_tier: encoda-api
