---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: prometheus-operator
  namespace: monitoring
  annotations:
    fluxcd.io/automated: "true"

spec:
  chart:
    git: https://github.com/helm/charts
    path: stable/prometheus-operator
    ref: master
  values:
    defaultRules:
      rules:
        kubeScheduler: false  # lives on EKS
        kubeApiserver: false  # too memory intensive
    kubeControllerManager:
      enabled: false  # lives on EKS
    prometheusOperator:
      resources:
        limits:
          memory: 150Mi
        requests:
          memory: 150Mi

    grafana:
      ingress:
        enabled: "true"
        hosts:
          - grafana.elifesciences.org
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
      plugins:
        - btplc-status-dot-panel
      env:
        GF_AUTH_ANONYMOUS_ENABLED: "true"
        GF_AUTH_ANONYMOUS_ORG_NAME: "Main Org."
        GF_AUTH_ANONYMOUS_ORG_ROLE: "Viewer"
      rbac:
        pspUseAppArmor: false

    prometheus:
      ingress:
        enabled: "true"
        hosts:
          - prometheus.elifesciences.org
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
      podDisruptionBudget:
        enabled: false
      prometheusSpec:
        replicas: 1
        resources:
          limits:
            memory: 2000Mi
          requests:
            memory: 1300Mi
        serviceMonitorSelectorNilUsesHelmValues: false
        ruleSelector: {} # use all PrometheusRules
        ruleNamespaceSelector:
          any: true

    alertmanager:
      podDisruptionBudget:
        enabled: true
      alertmanagerSpec:
        configSecret: alertmanager-prometheus-operator
        replicas: 2
        resources:
          limits:
            memory: 200Mi
          requests:
            memory: 20Mi
      ingress:
        enabled: "true"
        hosts:
          - alertmanager.elifesciences.org
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
