[tools]
"ubi:awslabs/eks-node-viewer" = "0.7.4"
"ubi:kubecolor/kubecolor" = "0.5.3"
kubectl = "prefix:1.34"
flux2 = "2.7.5"
stern = "1.26.0"
kubie = "0.23.0"
kind = "0.31.0"
kustomize = "5.8.0"
yq = "4.52.2"
kubeconform = "0.7.0"
awscli = "2.33.17"
helm = "4.1.0"


[tasks.watch-nodes]
run = "eks-node-viewer --extra-labels=eks-node-viewer/node-age,eks-node-viewer/node-ephemeral-storage-usage,elifesciences.org/project,karpenter.sh/nodepool,topology.kubernetes.io/zone --node-sort=karpenter.sh/nodepool=dsc --resources=cpu,memory"

[tasks.watch-pods-non-running]
run = "watch -c -w -n0.5 \"kubecolor --force-colors get pod -A -o wide | grep --color=always -v 'Running\\|Completed'\""

[tasks.logs-karpenter]
run = "stern -n karpenter karpenter"
