alertmanager:
  config:
    global:
      resolve_timeout: 5m
      slack_api_url: test
    route:
      group_by: ["alertgroup", "job"]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: "slack-monitoring"
      routes:
        - matchers:
            - severity=~"info|warning|critical"
          receiver: slack-monitoring
          continue: true
        - matchers:
            - "alertname = Watchdog"
          group_interval: 1m
          repeat_interval: 1m
          receiver: "healthchecks.io"
        - matchers:
            - "alertname = Watchdog"
          receiver: "Watchdog"
        - matchers:
            - "alertname = InfoInhibitor"
          receiver: "null"
        - matchers:
            - "exported_namespace = sciety"
          receiver: "slack-the-greenhouse"
        - matchers:
            - "exported_namespace = data-hub"
          receiver: "slack-the-grove-data"
        - matchers:
            - "namespace = sciety"
          receiver: "slack-the-greenhouse"
        - matchers:
            - "namespace = data-hub"
          receiver: "slack-the-grove-data"
    inhibit_rules:
      - target_matchers:
          - severity=~"warning|info"
        source_matchers:
          - severity=critical
        equal:
          - cluster
          - namespace
          - alertname
      - target_matchers:
          - severity=info
        source_matchers:
          - severity=warning
        equal:
          - cluster
          - namespace
          - alertname
      - target_matchers:
          - severity=info
        source_matchers:
          - alertname=InfoInhibitor
        equal:
          - cluster
          - namespace

    receivers:
      - name: slack-monitoring
        slack_configs:
          - channel: "#cluster-alerts"
            send_resolved: true
            title: '{{ template "slack.monzo.title" . }}'
            icon_emoji: '{{ template "slack.monzo.icon_emoji" . }}'
            color: '{{ template "slack.monzo.color" . }}'
            text: '{{ template "slack.monzo.text" . }}'
            actions:
              - name: runbook
                type: button
                text: "Runbook :green_book:"
                url: "{{ (index .Alerts 0).Annotations.runbook_url }}"
              - name: query
                type: button
                text: "Query :mag:"
                url: "{{ (index .Alerts 0).GeneratorURL }}"
              - name: dashboard
                type: button
                text: "Dashboard :grafana:"
                url: "{{ (index .Alerts 0).Annotations.dashboard_url }}"
              - name: silence
                type: button
                text: "Silence :no_bell:"
                url: '{{ template "__alert_silence_link" . }}'
              - name: link
                type: button
                text: '{{ template "slack.monzo.link_button_text" . }}'
                url: "{{ .CommonAnnotations.link_url }}"
      - name: slack-the-greenhouse
        slack_configs:
          - channel: "#the-greenhouse"
            send_resolved: true
            title: '{{ template "slack.monzo.title" . }}'
            icon_emoji: '{{ template "slack.monzo.icon_emoji" . }}'
            color: '{{ template "slack.monzo.color" . }}'
            text: '{{ template "slack.monzo.text" . }}'
            actions:
              - name: runbook
                type: button
                text: "Runbook :green_book:"
                url: "{{ (index .Alerts 0).Annotations.runbook_url }}"
              - name: query
                type: button
                text: "Query :mag:"
                url: "{{ (index .Alerts 0).GeneratorURL }}"
              - name: dashboard
                type: button
                text: "Dashboard :grafana:"
                url: "{{ (index .Alerts 0).Annotations.dashboard_url }}"
              - name: silence
                type: button
                text: "Silence :no_bell:"
                url: '{{ template "__alert_silence_link" . }}'
              - name: link
                type: button
                text: '{{ template "slack.monzo.link_button_text" . }}'
                url: "{{ .CommonAnnotations.link_url }}"
      - name: healthchecks.io
        webhook_configs:
          - url: test
            send_resolved: false
      - name: slack-the-grove-data
        slack_configs:
          - channel: "#the-grove-data"
            send_resolved: true
            title: '{{ template "slack.monzo.title" . }}'
            icon_emoji: '{{ template "slack.monzo.icon_emoji" . }}'
            color: '{{ template "slack.monzo.color" . }}'
            text: '{{ template "slack.monzo.text" . }}'
            actions:
              - name: runbook
                type: button
                text: "Runbook :green_book:"
                url: "{{ (index .Alerts 0).Annotations.runbook_url }}"
              - name: query
                type: button
                text: "Query :mag:"
                url: "{{ (index .Alerts 0).GeneratorURL }}"
              - name: dashboard
                type: button
                text: "Dashboard :grafana:"
                url: "{{ (index .Alerts 0).Annotations.dashboard_url }}"
              - name: silence
                type: button
                text: "Silence :no_bell:"
                url: '{{ template "__alert_silence_link" . }}'
              - name: link
                type: button
                text: '{{ template "slack.monzo.link_button_text" . }}'
                url: "{{ .CommonAnnotations.link_url }}"
      - name: Watchdog
      - name: "null"
