apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo
  namespace: podinfo
  labels:
    app: podinfo
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/configuration-snippet: |
      auth_request_set $user   $upstream_http_x_auth_request_user;
      auth_request_set $email  $upstream_http_x_auth_request_email;
      proxy_set_header X-Auth-Request-User $user;
      proxy_set_header X-Auth-Request-Email $email;
spec:
  rules:
    - host: "${hostname}"
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: podinfo-scaler
                port:
                  number: ${keda_port:=8080}
  tls:
  - hosts:
    - "${hostname}"
    secretName: podinfo-tls
