apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
patches:
- target:
    name: flux-system
    kind: Kustomization
    namespace: flux-system
  path: patches/cluster-variable-substitutions.yaml

- target:
    kind: Deployment
    namespace: flux-system
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: does-not-matter
      namespace: flux-system
    spec:
      template:
        metadata:
          annotations:
            cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
        spec:
          tolerations:
          - key: CriticalAddonsOnly
            operator: Exists
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: type
                    operator: NotIn
                    values: ["karpenter", "kwok"] # Don't place this on cluster-controlled nodes
- target:
    version: v1
    group: apps
    kind: Deployment
    namespace: flux-system
    name: source-controller
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: 50m
          memory: 200Mi
- target:
    version: v1
    group: apps
    kind: Deployment
    namespace: flux-system
    name: kustomize-controller
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: 700m
          memory: 600Mi
- target:
    version: v1
    group: apps
    kind: Deployment
    namespace: flux-system
    name: helm-controller
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: 100m
          memory: 200Mi
- target:
    version: v1
    group: apps
    kind: Deployment
    namespace: flux-system
    name: image-automation-controller
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: 100m
          memory: 150Mi
- target:
    version: v1
    group: apps
    kind: Deployment
    namespace: flux-system
    name: image-reflector-controller
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: 50m
          memory: 800Mi
- target:
    version: v1
    group: apps
    kind: Deployment
    namespace: flux-system
    name: notification-controller
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/resources
      value:
        requests:
          cpu: 10m
          memory: 30Mi
