# Mitigation for CVE-2025-64459 https://github.com/elifesciences/issues/issues/9443
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: mitigate-cve-2025-64459
  namespace: traefik
spec:
  ipAllowList:
    sourceRange:
      - "127.0.0.1/32"
# To apply as mitigation for an ingress, apply to a sidecar IngressRoute:
#
# ---
# apiVersion: traefik.io/v1alpha1
# kind: IngressRoute
# metadata:
#   name: test-redirect-mitigate-cve-2025-64459
#   namespace: test-redirect
# spec:
#   entryPoints:
#     - web
#     - websecure
#   routes:
#   - match: Host(`test-redirect.${cluster_domain}`) && (QueryRegexp(`_connector`, `.*`) || QueryRegexp(`_negated`, `.*`))
#     kind: Rule
#     priority: 100 # Higher priority than your main Ingress (usually 0)
#     middlewares:
#     - name: mitigate-cve-2025-64459
#       namespace: traefik
#     services:
#     - name: http-svc
#       port: 80
