---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: temporal-matching
spec:
  namespaceSelector:
    matchNames:
    - default
  selector:
    matchLabels:
      app.kubernetes.io/name: temporal
      app.kubernetes.io/instance: temporal
      app.kubernetes.io/component: matching

  podMetricsEndpoints:
  - port: metrics
    relabelings:
      # https://github.com/prometheus-operator/prometheus-operator/issues/4816
      - sourceLabels: [__meta_kubernetes_pod_phase]
        action: keep
        regex: Running
