kind: HTTPScaledObject
apiVersion: http.keda.sh/v1alpha1
metadata:
  name: epp-biorxiv-xslt-api
spec:
  hosts:
  - epp-biorxiv-xslt-api-scaler.${keda_autoscaler_namespace_fix}
  - epp-biorxiv-xslt-api-scaler.${keda_autoscaler_namespace_fix}.svc.cluster.local
  pathPrefixes:
  - /
  scaleTargetRef:
    name: epp-biorxiv-xslt-api
    kind: Deployment
    apiVersion: apps/v1
    service: epp-biorxiv-xslt-api
    port: 80
  replicas:
    min: 1
    max: 20
  scaledownPeriod: 900
  targetPendingRequests: 2
