---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: traefik-crds

spec:
  interval: 5m
  releaseName: traefik-crds
  chart:
    spec:
      chart:  traefik-crds
      version: 1.13.1
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1m
