apiVersion: apps/v1
kind: Deployment
metadata:
  name: basex-validator
spec:
  replicas: ${replicas:=1}
  strategy:
    rollingUpdate:
      maxUnavailable: ${maxUnavailable:=1}
  template:
    spec:
      containers:
        - name: basex-validator
          image: docker.io/elifesciences/basex-validator:latest
          resources:
            requests:
              cpu: 500m
              requests: 1Gi
            limits:
              memory: 1.2Gi
              cpu: 1000m
          ports:
            - name: http
              containerPort: 8984
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            tcpSocket:
              port: http
