apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: epp--staging
  namespace: epp--staging
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kustomizations/apps/epp
  prune: true
  targetNamespace: epp--staging
  images:
  - name: ghcr.io/elifesciences/enhanced-preprints-server
    newTag: master-4358ba4d-20231123.2309 # {"$imagepolicy": "epp--staging:epp-server:tag"}
  - name: ghcr.io/elifesciences/epp-image-server
    newTag: master-e53d15f3-20230307.0757 # {"$imagepolicy": "epp--prod:epp-image-server:tag"}
  - name: ghcr.io/elifesciences/enhanced-preprints-client
    newTag: master-bde91e27-20231127.2257 # {"$imagepolicy": "epp--staging:epp-client:tag"}
  - name: ghcr.io/elifesciences/enhanced-preprints-storybook
    newTag: master-bde91e27-20231127.2257 # {"$imagepolicy": "epp--staging:epp-storybook:tag"}
  - name: ghcr.io/elifesciences/enhanced-preprints-import-worker
    newTag: master-c59007fa-20231128.0554 # {"$imagepolicy": "epp--staging:epp-import:tag"}
  - name: ghcr.io/elifesciences/enhanced-preprints-biorxiv-xslt-api
    newTag: master-f5497b7f-20231124.1036 # {"$imagepolicy": "epp--staging:epp-biorxiv-xslt-api:tag"}
  postBuild:
    substitute:
      app_env: staging
      app_hostname: staging--epp.elifesciences.org
      data_hub_api: https://data-hub-api--stg.elifesciences.org/enhanced-preprints/docmaps/v2/by-publisher/elife/get-by-manuscript-id?manuscript_id=
      storybook_hostname: staging--epp-storybook.elifesciences.org
      journal_api_hostname: staging--epp-api.elifesciences.org
      iiif_server: https://staging--epp.elifesciences.org/iiif
      image_server_source_base_url: https://github.com/elifesciences/enhanced-preprints-data/raw/staging/data/
      mongodb_hostname: epp-database-psmdb-db-replicaset
      mongodb_secret_name: epp-database-psmdb-db-secrets
      mongodb_secret_user_key: MONGODB_DATABASE_ADMIN_USER
      mongodb_secret_pass_key: MONGODB_DATABASE_ADMIN_PASSWORD
      google_tag_manager_id: "GTM-NJBS9X"
      client_replicas: "1"
      server_replicas: "1"
      cookie_bot_id: 0a5c50d8-fcf9-47b1-8f4f-1eaadb13941b
      s3_bucket: staging-elife-epp-data
      image_server_source_static: S3Source
      image_server_s3_bucket: staging-elife-epp-data
      image_server_prefix: automation/
      image_server_role_arn: arn:aws:iam::512686554592:role/epp-staging-image-server
      epp_server_role_arn: arn:aws:iam::512686554592:role/epp-staging-epp-server
      is_automated: "automated"
      show_previews: ""
      epp_server: http://epp-server:3000
      temporal_server: temporal-frontend.temporal:7233
      temporal_namespace: epp--staging
      import_role_arn: arn:aws:iam::512686554592:role/epp-staging-import
      disallow_robots: all
      worker_replicas: "4"
      worker_memory_requests: "4Gi"
      worker_memory_limits: "4.5Gi"
      worker_cpu_requests: "500m"
      worker_cpu_limits: "1500m"
      biorxiv_xslt_api_replicas: "4"
      biorxiv_xslt_api_memory_requests: "3Gi"
      biorxiv_xslt_api_memory_limits: "3Gi"
      biorxiv_xslt_api_cpu_requests: "500m"
      biorxiv_xslt_api_cpu_limits: "1000m"
