apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: epp--prod
  namespace: epp--prod
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kustomizations/apps/epp
  prune: true
  targetNamespace: epp--prod
  images:
    - name: ghcr.io/elifesciences/enhanced-preprints
      newTag: master-e2cda585-20230220.2111 # {"$imagepolicy": "epp--prod:epp-server:tag"}
    - name: ghcr.io/elifesciences/epp-image-server
      newTag: master-7af46551-20230201.2248 # {"$imagepolicy": "epp--prod:epp-image-server:tag"}
    - name: ghcr.io/elifesciences/enhanced-preprints-client
      newTag: master-6c4890f8-20230221.0029 # {"$imagepolicy": "epp--prod:epp-client:tag"}
    - name: ghcr.io/elifesciences/enhanced-preprints-storybook
      newTag: master-9d1f3030-20221213.0927 # {"$imagepolicy": "epp--staging:epp-storybook:tag"}
  postBuild:
    substitute:
      app_env: prod
      app_hostname: prod--epp.elifesciences.org
      storybook_hostname: prod--epp-storybook.elifesciences.org
      journal_api_hostname: prod--epp-api.elifesciences.org
      git_data_branch: master
      server_log_level: error
      asset_prefix: https://elifesciences.org/reviewed-preprints
      iiif_server: https://prod--epp.elifesciences.org/iiif
      image_server_source_base_url: https://github.com/elifesciences/enhanced-preprints-data/raw/master/data/
      mongodb_hostname: mongodb-psmdb-db-rs0
      mongodb_secret_name: mongodb-psmdb-db-secrets
      mongodb_secret_user_key: MONGODB_DATABASE_ADMIN_USER
      mongodb_secret_pass_key: MONGODB_DATABASE_ADMIN_PASSWORD
      client_replicas: "3"
      server_replicas: "1"
      google_tag_manager_id: "GTM-WVM8KG"
      cookie_bot_id: 0a5c50d8-fcf9-47b1-8f4f-1eaadb13941b
