apiVersion: apps/v1
kind: Deployment
metadata:
  name: epp-image-server
  namespace: epp
  labels:
    app_name: epp
    app_env: ${app_env}
    app_tier: backend
spec:
  replicas: ${image_server_replicas:=1}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: epp-image-server
  template:
    metadata:
      namespace: epp
      labels:
        app: epp-image-server
    spec:
      serviceAccountName: epp-image-server
      containers:
      - name: epp-image-server
        image: ghcr.io/elifesciences/epp-image-server:latest
        ports:
        - containerPort: 8182
        resources:
          requests:
            memory: ${epp_image_server_memory_requests:='300Mi'}
            cpu: ${epp_image_server_cpu_requests:='50m'}
            ephemeral-storage: ${epp_image_server_ephemeral_storage_requests:='2Gi'}
        env:
          - name: SOURCE_STATIC
            value: ${image_server_source_static:=HttpSource}
          - name: HTTPSOURCE_BASICLOOKUPSTRATEGY_URL_PREFIX
            value: ${image_server_source_base_url:=https://github.com/elifesciences/enhanced-preprints-data/raw/master/data/}
          - name: S3SOURCE_BASICLOOKUPSTRATEGY_PATH_PREFIX
            value: ${image_server_prefix:=data/}
          - name: S3SOURCE_BASICLOOKUPSTRATEGY_BUCKET_NAME
            value: ${image_server_s3_bucket}
          - name: CACHE_SERVER_DERIVATIVE_ENABLED
            value: "true"
          - name: CACHE_SERVER_DERIVATIVE
            value: FilesystemCache
