apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImagePolicy
metadata:
  name: basex-validator-stable
  namespace: basex-validator
spec:
  imageRepositoryRef:
    name: basex-validator
    namespace: basex-validator
  filterTags:
    pattern: '^master-[a-fA-F0-9]+-(?P<ts>.*)'
    extract: '$ts'
  policy:
    numerical:
      order: asc
