---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prometheus-stack
  namespace: monitoring

spec:
  interval: 1m
  releaseName: monitoring-prometheus-stack
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 45.17.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-stack
      interval: 1m
  install:
    remediation:
      retries: 5
  timeout: 3m
  dependsOn:
  - name: ingress-nginx
    namespace: infra
  - name: sealed-secrets
    namespace: infra

  values:
    global:
      rbac:
        create: true
    defaultRules:
      rules:
        kubeSchedulerAlerting: false    # lives on EKS
        kubeSchedulerRecording: false   # lives on EKS
        kubeApiserver: false  # too memory intensive
    kubeControllerManager:
      enabled: false  # lives on EKS
    prometheusOperator:
      resources:
        limits:
          memory: 300Mi
        requests:
          memory: 150Mi

    grafana:
      ingress:
        enabled: "true"
        hosts:
          - grafana.elifesciences.org
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
      plugins:
        - btplc-status-dot-panel
      env:
        GF_AUTH_ANONYMOUS_ENABLED: "true"
        GF_AUTH_ANONYMOUS_ORG_NAME: "Main Org."
        GF_AUTH_ANONYMOUS_ORG_ROLE: "Viewer"
      rbac:
        pspUseAppArmor: false
        pspEnabled: true
      sidecar:
        datasources:
          searchNamespace: ALL
    prometheus-node-exporter:
      rbac:
        pspEnabled: true
    prometheus:
      ingress:
        enabled: "true"
        hosts:
          - prometheus.elifesciences.org
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
      podDisruptionBudget:
        enabled: false
      prometheusSpec:
        replicas: 1
        resources:
          limits:
            memory: 2000Mi
          requests:
            memory: 1300Mi
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        ruleSelector:
          matchExpressions:
            - {key: app, operator: In, values: [kube-prometheus-stack, flux, kubediff, cert-manager]}

    alertmanager:
      podDisruptionBudget:
        enabled: true
      alertmanagerSpec:
        configSecret: alertmanager-prometheus-operator
        replicas: 2
        resources:
          limits:
            memory: 200Mi
          requests:
            memory: 20Mi
      ingress:
        enabled: "true"
        hosts:
          - alertmanager.elifesciences.org
        annotations:
          nginx.ingress.kubernetes.io/auth-url: "https://oauth-proxy.elifesciences.org/oauth2/auth"
          nginx.ingress.kubernetes.io/auth-signin: "https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri"
