---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ${external_secret_name}
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: secret-store
    kind: ClusterSecretStore
  target:
    name: ${kubernetes_secret_name}
    creationPolicy: ${creation_policy:-"Owner"}
    template:
      engineVersion: v2
      metadata:
        annotations:
          reloader.stakater.com/match: ${reloader_support:-"false"}
      data:
        PGHOST: "${host}"
        PGPORT: "{{ ${port}|toString }}"
        PGDATABASE: "${dbname}"
        PGPASSWORD: "{{ .password }}"
        PGUSER: "{{ .username }}"
        # Support dj-database-url
        DATABASE_URL: "postgres://{{ .username }}:{{ .password | urlquery }}@${host}:${port}/${dbname}"
        # Support airflow helm chart
        connection: "postgresql+psycopg2://{{ .username }}:{{ .password | urlquery }}@${host}:${port}/${dbname}"
  dataFrom:
  - extract:
      key: ${secretmanager_secret_name}
