---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: epp-import-approved
  namespace: epp
spec:
  imageRepositoryRef:
    name: epp-import
  filterTags:
    pattern: '^master-[a-fA-F0-9]+-(?P<ts>[\d\.]+)-approved$'
    extract: '$ts'
  policy:
    numerical:
      order: asc
