apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: epp-server
  namespace: epp--biophysics-colab
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kustomizations/apps/epp/server
  prune: true
  targetNamespace: epp--biophysics-colab
  images:
    - name: ghcr.io/elifesciences/enhanced-preprints-server
      newTag: master-1e383081-20240701.1717 # {"$imagepolicy": "epp--biophysics-colab:epp-server:tag"}
  postBuild:
    substitute:
      mongodb_hostname: epp-database-psmdb-db-replicaset
      mongodb_secret_name: epp-database-psmdb-db-secrets
      mongodb_secret_user_key: MONGODB_DATABASE_ADMIN_USER
      mongodb_secret_pass_key: MONGODB_DATABASE_ADMIN_PASSWORD
