apiVersion: apps/v1
kind: Deployment
metadata:
  name: epp-server
  namespace: epp
  labels:
    app_name: epp
    app_env: ${app_env}
    app_tier: backend
spec:
  replicas: ${server_replicas:=1}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: epp-server
  template:
    metadata:
      namespace: epp
      labels:
        app: epp-server
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
      - name: epp-server
        image: ghcr.io/elifesciences/enhanced-preprints:latest
        resources:
          requests:
            cpu: "200m"
          limits:
            memory: "2Gi"
        env:
        - name: IMPORT_DIR_PATH
          value: /opt/articles-data/enhanced-preprints-data/data/10.1101/
        - name: IIIF_SERVER
          value: ${iiif_server}
        - name: REPO_TYPE
          value: MongoDB
        - name: REPO_CONNECTION
          value: "${mongodb_hostname}"
        - name: REPO_USERNAME
          valueFrom:
            secretKeyRef:
              name: ${mongodb_secret_name:=mongodb-psmdb-db-secrets}
              key: ${mongodb_secret_user_key:=MONGODB_DATABASE_ADMIN_USER}
        - name: REPO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ${mongodb_secret_name:=mongodb-psmdb-db-secrets}
              key: ${mongodb_secret_pass_key:=MONGODB_DATABASE_ADMIN_PASSWORD}
        ports:
        - containerPort: 3000
        volumeMounts:
        - name: articles-data
          mountPath: /opt/articles-data
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 3
          timeoutSeconds: 5
      - name: git-sync
        image: k8s.gcr.io/git-sync/git-sync:v3.6.3
        resources:
          requests:
            cpu: "20m"
            ephemeral-storage: "5Gi"
          limits:
            memory: "500Mi"
        env:
        - name: GIT_SYNC_ROOT
          value: "/articles"
        - name: GIT_SYNC_REPO
          value: https://github.com/elifesciences/enhanced-preprints-data
        - name: GIT_SYNC_BRANCH
          value: "${git_data_branch:=master}"
        - name: GIT_SYNC_DEPTH
          value: "0"
        - name: GIT_SYNC_WEBHOOK_URL
          value: http://localhost:3000/import
        - name: GIT_SYNC_WEBHOOK_TIMEOUT
          value: "10s"
        - name: GIT_SYNC_WEBHOOK_BACKOFF
          value: "10s"
        - name: LOG_LEVEL
          value: ${server_log_level:=error}
        volumeMounts:
        - name: articles-data
          mountPath: /articles
      volumes:
      - name: articles-data
        emptyDir: {}
