---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-web
spec:
  replicas: 1
  template:
    spec:
      serviceAccountName: temporal
      containers:
        - name: temporal-web
          image: "temporalio/ui:latest"
          env:
            - name: TEMPORAL_ADDRESS
              value: "temporal-frontend:7233"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              memory: 100Mi
