---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: temporal-web
  annotations:
    nginx.ingress.kubernetes.io/auth-signin: https://oauth-proxy.elifesciences.org/oauth2/start?rd=https%3A%2F%2F$host$request_uri
    nginx.ingress.kubernetes.io/auth-url: https://oauth-proxy.elifesciences.org/oauth2/auth
    traefik.ingress.kubernetes.io/router.middlewares: traefik-elife-oauth@kubernetescrd
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
spec:
  ingressClassName: nginx
  rules:
      - host: ${temporal_web_hostname}
        http:
          paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: temporal-web
                  port:
                    number: 8080
  tls:
  - hosts:
    - "${temporal_web_hostname}"
    secretName: temporal-tls
