europePmcLabsLink:
- dataPipelineId: europepmc_labslink_data_pipeline_1
  source:
    bigQuery:
      projectName: 'elife-data-pipeline'
      sqlQuery: |-
        SELECT DISTINCT article_doi
        FROM `elife-data-pipeline.{ENV}.v_sciety_event` AS event
        WHERE event_name = 'EvaluationRecorded'
            AND article_doi IS NOT NULL
            AND NOT is_deleted
  xml:
    providerId: '2112'
    linkTitle: 'Read the evaluations of this preprint'
    linkPrefix: 'https://sciety.org/articles/activity/'
  target:
    ftp:
      hostname: 'test-ftpserver'
      port: 21
      username: 'elinks'
      createDirectory: true
      linksXmlFilename: links.xml.gz
      parametersFromFile:
        - parameterName: password
          filePathEnvName: EUROPEPMC_LABSLINK_FTP_PASSWORD_FILE_PATH
        - parameterName: directoryName
          filePathEnvName: EUROPEPMC_LABSLINK_FTP_DIRECTORY_NAME_FILE_PATH
