apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: data-hub

configMapGenerator:
- name: data-hub-configs
  files:
  - bigquery-to-opensearch--prod.yaml
  - bigquery-to-opensearch--stg.yaml
  - civicrm-email-report-data-pipeline.config.yaml
  - crossref-event-data-pipeline.config.yaml
  - ejp-xml-data-pipeline.config.yaml
  - ejp-xml-data-pipeline--test.config.yaml
  - elife-article-xml.config.yaml
  - europepmc.config.yaml
  - europepmc-labslink.config.yaml
  - europepmc-labslink--test.config.yaml
  - gmail-data-pipeline.config.yaml
  - keyword-extraction-data-pipeline.config.yaml
  - kubernetes-pipeline.config.yaml
  - monitoring.config.yaml
  - s3-csv-data-pipeline.config.yaml
  - s3-csv-data-pipeline--test.config.yaml
  - semantic-scholar-recommendation.config.yaml
  - semantic-scholar.config.yaml
  - spreadsheet-data-pipeline.config.yaml
  - surveymonkey-data-pipeline.config.yaml
  - twitter-ads-api.config.yaml
  - web-api-data-pipeline.config.yaml
  - ga-data-pipeline.config.yaml
generatorOptions:
  disableNameSuffixHash: true
