---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: epp-import-controller
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: traefik-elife-oauth@kubernetescrd
    cert-manager.io/cluster-issuer: "letsencrypt"
spec:
  ingressClassName: ${import_controller_ingress_class_name:-"traefik"}
  rules:
      - host: ${import_controller_hostname}
        http:
          paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: epp-import-controller
                  port:
                    number: 5000
  tls:
  - hosts:
    - ${import_controller_hostname}
    secretName: epp-import-controller-tls
