apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: basex-validator--prod
  namespace: basex-validator--prod
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./kustomizations/apps/basex-validator
  prune: true
  targetNamespace: basex-validator--prod
  images:
    - name: docker.io/elifesciences/basex-validator
      newTag: master-c93b67d8-20240530.1546 # {"$imagepolicy": "basex-validator--prod:basex-validator-stable:tag"}
  postBuild:
    substitute:
      replicas: "2"
      hostname: basex-validator.elifesciences.org
      env: prod
