---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: "10.5.5"
      interval: 5m
      sourceRef:
        kind: HelmRepository
        name: grafana
  values:
    sidecar:
      image:
        tag: 1.30.3
      resources:
        requests:
          cpu: 10m
          memory: 90Mi
      alerts:
        enabled: true
        searchNamespace: ALL
      dashboards:
        enabled: true
        searchNamespace: ALL
      datasources:
        enabled: true
        searchNamespace: ALL
      plugins:
        enabled: true
        searchNamespace: ALL
    plugins:
      - victoriametrics-logs-datasource
    grafana.ini:
      auth:
        oauth_auto_login: true
        signout_redirect_url: "${oauth2_proxy_signout_url}"
      auth.proxy:
        enabled: true
        header_name: X-Auth-Request-Email
        header_property: email
        headers: Name:X-Auth-Request-User
        enable_login_token: false
      users:
        allow_sign_up: false
        auto_assign_org: true
        auto_assign_org_role: Admin
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
        traefik.ingress.kubernetes.io/router.middlewares: traefik-elife-oauth@kubernetescrd
      hosts:
        - grafana.${cluster_domain}
      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.${cluster_domain}
    resources:
      requests:
        cpu: 20m
        memory: 133Mi
