---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: "7.3.7"
      interval: 5m
      sourceRef:
        kind: HelmRepository
        name: grafana
  values:
    sidecar:
      resources:
        requests:
          cpu: 10m
          memory: 90Mi
      alerts:
        enabled: true
        searchNamespace: ALL
      dashboards:
        enabled: true
        searchNamespace: ALL
      datasources:
        enabled: true
        searchNamespace: ALL
      plugins:
        enabled: true
        searchNamespace: ALL
    plugins:
    - https://github.com/VictoriaMetrics/victorialogs-datasource/releases/download/v0.2.1/victorialogs-datasource-v0.2.1.zip;victorialogs-datasource
    grafana.ini:
      plugins:
        allow_loading_unsigned_plugins: victorialogs-datasource
      auth:
        oauth_auto_login: true
        signout_redirect_url: "${oauth2_proxy_signout_url}"
      auth.proxy:
        enabled: true
        header_name: X-Email
        header_property: email
        headers: Name:X-User
        enable_login_token: false
      users:
        allow_sign_up: false
        auto_assign_org: true
        auto_assign_org_role: Admin
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
        nginx.ingress.kubernetes.io/auth-url: "${oauth2_proxy_auth_url}"
        nginx.ingress.kubernetes.io/auth-signin: "${oauth2_proxy_auth_signin}"
        nginx.ingress.kubernetes.io/configuration-snippet: |
          auth_request_set $user   $upstream_http_x_auth_request_user;
          auth_request_set $email  $upstream_http_x_auth_request_email;
          proxy_set_header X-User  $user;
          proxy_set_header X-Email $email;
      hosts:
      - grafana.${cluster_domain}
      tls:
      - secretName: grafana-tls
        hosts:
        - grafana.${cluster_domain}
    resources:
      requests:
        cpu: 20m
        memory: 133Mi
