name: lint

on:
  workflow_dispatch:
  push:

jobs:
  manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # Seemingly something mise installs breaks post-checkout.
      # this runs a post-task after post-mise (for caching) but before post-checkout
      - name: Clean up Mise
        uses: gacts/run-and-post-run@v1
        with:
          run: echo "Nothing"
          post: mise implode -y
      - name: Install tools
        uses: jdx/mise-action@v3
      - name: Validate manifests
        run: ./scripts/validate.sh
